@media (min-width: 768px) {

	/* ------ Header ------ */


	/* ------ Home ------ */

	.home {
		background-image: url('../img/bg/saw.svg');
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: 30% 50%;

		.home__body {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(0,-50%);

			padding: 0px 40px 0px 0px;

			.home__btns {
				flex-direction: row;

				.home__order-btn {
					margin: 0px 20px 0px 0px;
				}
			}
			
		}
	}

	/* ------ About ------ */

	.about {
		background-image: url('../img/bg/human_saw.svg');
		background-size: 30%;
		background-repeat: no-repeat;
		background-position: right 0% bottom 50%;

		.about__body {

		}
	}

	/* ------ Calc ------ */

	.calc {
		background-image: url('../img/bg/calculator.svg');
		background-size: 20%;
		background-repeat: no-repeat;
		background-position: 0% 50%;
	}



	/* ------ Price ------ */

	.price {
		background-image: url('../img/bg/money.svg');
		background-size: 20%;
		background-repeat: no-repeat;
		background-position: right 0% bottom 50%;
	}

	/* ------ Order ------ */

	.order {
		background-image: url('../img/bg/saw_bg.svg');
		background-size: 30%;
		background-repeat: no-repeat;
		background-position: 0% 50%;

		.order__body {
			.order__item {
				width: 500px;
			}
		}
	}


	/* ------ Footer ------ */

	.footer {
		background-image: url('../img/bg/pin.svg');
		background-size: 12%;
		background-repeat: no-repeat;
		background-position: 0% 50%;

		.footer__wrapper {
			.footer__body {
				width: 100%;
				height: 100%;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				.footer__column {
					margin: 0px 60px 0px 0px;
				}

				.footer__map 
				{
					min-width: 400px;
				}
				.footer__map iframe {
					height: 350px;
				}
			}
		}
	}
} 
/* Конец медия 768px */