@import "nullstyle.scss";
//Подключение медиа внизу страницы
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// Переменные  
$dark: #424046;
$light: #F4F5F4;
$brown: #B1907F;
$light-brown: #A49B98;

// Миксины

$max-width: 1280;

@mixin resp-font($pcSize, $mobileSize) {
	$addSize: $pcSize - $mobileSize;
	$addMobileSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobileSize + px} + #{$addMobileSize} * ((100vw - 320px) / #{$max-width}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobileSize + px} + #{$addSize} * (100vw / #{$max-width}));
	}
}
 
/* ------ Оболочка  ------ */

html,body {
	height: 100%;
	scroll-behavior: smooth;
}

//Блок прокрутки страницы при открытом бургере
body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 400;
	color: $light;
	line-height: 1.5;
}

/* ------ Контейнеры ------ */

.container{
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 30px;
}

.content {
  /* Контент занимает всё место между header и footer */
  flex: 1 1 auto;
}


/* ------ Header ------ */

.header {
	position: fixed;
	padding: 14px 0;
	z-index: 5;

	width: 100%;
	.header__body {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header__logo {
			display: flex;
			align-items: center;

			.header__logo-img {
				width: 24px;
				height: 24px;

				margin: 0px 12px 0px 0px;
			}
			.header__logo-img img {
				width: 100%;
			}
			.header__logo-title a {
				color: $light;
				font-weight: 500;
				@include resp-font(18, 14);

				transition: all 0.3s ease 0s;
			}
			.header__logo-title a:hover {
				color: $brown;
			}
		}

		.header__burger {
			display: block;
			position: relative;
			width: 32px;
			height: 21px;
			z-index: 3;

			cursor: pointer;
		}
		.header__burger span {
			position: absolute;
			background-color: $light;
			left: 0;
			width: 100%;
			height: 3px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before,
		.header__burger:after {
			content: '';
			background-color: $light;
			position: absolute;
			width: 100%;
			height: 3px;
			transition: all 0.3s ease 0s;
		}
		.header__burger:before {
			top: 0;
		}
		.header__burger:after {
			bottom: 0;
		}

		.header__burger.active:before {
			transform: rotate(45deg);
			top: 8px;
		}

		.header__burger.active:after {
			transform: rotate(-45deg);
			bottom: 10px;
		}

		.header__burger.active span {
			transform: scale(0);
		}

		.header__menu {
			position: fixed;
			overflow: auto;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $dark;
			padding: 120px 20px 30px 20px;
			transition: all 0.3s ease 0s;
		}

		.header__menu.active {
			top: 0;
		}

		.header__list {
			display: flex;
			flex-direction: column;
			font-size: 20px;

			margin: 0px 0px 0px 30px;

			.header__link a {
					@include resp-font(18, 16);
					text-decoration: none;
					font-weight: 500;
					color: $light;
					position: relative;
				}	
			}

			.header__link a:hover {
				color: $brown;
				transition: 0.3s ease 0s;
			}

			.header__btn a {
				display: inline-block;

				color: $light;
				background: $brown;
				@include resp-font(18, 14);
				font-weight: 500;

				border-radius: 5px;
				padding: 12px 30px;

				transition: 0.3s ease 0s;
			}
			.header__btn a:hover {
				color: $brown;
				background: $light;
			}
		
		}

		.header__list li {
			margin: 0px 0px 60px 0px;
		}
}

.header.bg {
		background: $dark;
}

/* ------ Home ------ */

.home {
	height: 100vh;
	background-color: $dark;
	

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	.home__body {
		color: $light;

		.home__title {
			@include resp-font(42, 30);
			font-weight: 700;

			margin: 0px 0px 14px 0px;
		}
		.home__subtitle {
			@include resp-font(20, 16);

			margin: 0px 0px 40px 0px;
		}
		.home__btns {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.home__order-btn {
				display: inline-block;

				color: $light;
				background: $brown;
				@include resp-font(18, 16);
				font-weight: 700;

				border-radius: 5px;
				padding: 12px 30px;
				margin: 0px 0px 16px 0px;

				transition: 0.3s ease 0s;
			}
			.home__order-btn:hover {
				color: $brown;
				background: $light;
			}

			.home__calc-btn {
				display: inline-block;

				color: $light;
				background: $light-brown;
				@include resp-font(18, 16);
				font-weight: 700;

				border-radius: 5px;
				padding: 12px 30px;
				margin: 0px 0px 16px 0px;

				transition: 0.3s ease 0s;
			}
			.home__calc-btn:hover {
				color: $light-brown;
				background: $light;
			}
		}
	}

	.home__down {
		background: $brown;
		width: 70px;
		height: 70px;
		border-radius: 50px;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		bottom: -5%;
		left: 50%;
		transform: translate(-50%, 0);

		cursor: pointer;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}


/* ------ About ------ */

.about {
	background: $light; 

	padding: 100px 0;
	.about__body {
		color: $dark;

		.about__title {
			@include resp-font(48, 30);
			font-weight: 700;
			text-align: center;

			margin: 0px 0px 60px 0px;
		}
		.about__text {
			@include resp-font(24, 16);

			margin: 0px 0px 80px 0px;
		}
		.about__subtitle {
			@include resp-font(24, 16);
			font-weight: 700;

			margin: 0px 0px 40px 0px;
		}
		.about__icons {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.about__item {
				display: flex;

				margin: 0px 20px 40px 0px;

				position: relative;

				.about__icon {
					margin: 0px 10px 0px 0px;
					max-width: 30px;
					min-width: 20px;
				}
				.about__icon img {
						width: 100%;
				}
				.about__name {
					@include resp-font(18, 12);
					font-weight: 500;
				}
			}

		}

	}
}


/* ------ Calc ------ */

.calc {
	background: $dark;

	padding: 100px 0;

	.calc__body {
		color: $light;

		.calc__title {
			@include resp-font(48, 30);
			font-weight: 700;
			text-align: center;

			margin: 0px 0px 60px 0px;
		}

		.calc__options {
			display: flex;
			flex-direction: column;
			align-items: center;

			margin: 0px 0px 40px 0px;
			.calc__item {
				margin: 0px 0px 20px 0px;
				.calc__name {
					@include resp-font(20, 18);
					color: $brown;
					font-weight: 500;

					margin: 0px 0px 5px 0px;
				}

				.calc__select {
					width: 260px;
					height: 40px;
					border-radius: 5px;

					@include resp-font(18, 16);
					font-weight: 600;
					color: $dark;

					padding: 0px 10px;
				}

				.calc__mini-select {
					width: 110px;
					height: 40px;
					border-radius: 5px;

					@include resp-font(18, 16);
					font-weight: 600;
					color: $dark;

					padding: 0px 10px;
				}

				.calc__input {
					width: 110px;
					height: 40px;

					border-radius: 5px;

					@include resp-font(18, 16);
					font-weight: 600;
					color: $dark;

					padding: 0px 12px;
				}

			}

			.calc__item span {
				color: $brown;
				font-weight: 700;
				margin: 0px 10px;
			}

		}

		.calc__output {
			@include resp-font(36, 24);
			font-weight: 700;
			text-align: center;

			position: relative;
			margin: 0px 0px 60px 0px;
		}

		.calc__output::after {
			content: '';
			width: 100%;
			height: 3px;
			background: $brown;

			position: absolute;
			bottom: -50%;
			left: 0;
		}

		.calc__btns {
			display: flex;
			flex-direction: column; 
			
			.calc__calc-btn {
				display: inline-block;

				color: $light;
				background: $light-brown;
				@include resp-font(18, 16);
				font-weight: 700;

				border-radius: 5px;
				padding: 12px 30px;
				margin: 0px 0px 16px 0px;

				transition: 0.3s ease 0s;
			}
			.cacl__calc-btn:hover {
				color: $light-brown;
				background: $light;
			}
			.calc__order-btn {
				display: inline-block;

				color: $light;
				background: $brown;
				@include resp-font(18, 16);
				font-weight: 700;

				border-radius: 5px;
				padding: 12px 30px;

				transition: 0.3s ease 0s;
			}
			.calc__order-btn:hover {
				color: $brown;
				background: $light;
			}

		}

	}
}


/* ------ Price ------ */

.price {
	background: $light;

	padding: 100px 0;

	.price__body {
		color: $dark;

		.price__title {
			@include resp-font(48, 30);
			font-weight: 700;
			text-align: center;

			margin: 0px 0px 60px 0px;
		}

		.price__table {
			width: 100%;

			@include resp-font(18, 14);
			text-align: left;

			border-collapse: collapse;
			border: 2px solid $brown;

			thead {
				width: 100%;
				display: block;
			}

			tbody {
				display: block;
				width: 100%;
				max-height: 500px;
				overflow: auto;

				tr {
					display: block;
					width: 100%;
				}
			}

		}
		.price__table th {
			font-weight: 500;
			border: 2px solid $brown;
		}
		.price__table td {
			font-weight: 400;
			
		}
		.price__table th, td {
			padding: 10px 20px;
			width: 100%;
		}

		.price__table th:last-child, td:last-child {
			width: 50%;
			text-align: center;
			font-weight: 500;
		}

		.price__table tr:nth-child(2n) {
			color: $dark;
  		background: rgba(164, 155, 152, 0.1);
		}
	}
}


/* ------ Order ------ */

.order {
	background: $dark;

	padding: 100px 0;

	.order__body {
		color: $light;

		.order__title {
			@include resp-font(48, 30);
			font-weight: 700;
			text-align: center;

			margin: 0px 0px 60px 0px;
		}

		.order__row {}

		.order__item {
			display: flex;
			flex-direction: column;
			width: 260px;

			margin: 0px 0px 20px 0px;

			.order__name {
				@include resp-font(18, 16);
				color: $brown;
				font-weight: 500;

				margin: 0px 0px 5px 0px;
			}
		}

		.order__item input {
			height: 40px; 
			border-radius: 5px;

			width: 100%;

			@include resp-font(18, 16);
			color: $dark;

			padding: 0px 12px;
			width: 100%;
		}
		.order__item textarea {
			height: 100px; 
			border-radius: 5px;

			@include resp-font(18, 16);
			color: $dark;

			padding: 12px 12px;
			width: 100%;
			resize: none;

			margin: 0px 0px 40px 0px;
		}

		.order__submit input {
			display: block;

			cursor: pointer;

			color: $light;
			background: $brown;
			@include resp-font(18, 16);
			font-weight: 700;

			border-radius: 5px;
			padding: 12px 30px;

			transition: 0.3s ease 0s;
		}
		.order__submit input:hover {
			color: $brown;
			background: $light;
		}
	}

	.order__body form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}


/* ------ Seo ------ */

.seo {
	background: $light;

	padding: 100px 0;

	.seo__body {
		color: $dark;
		opacity: 0.5;

		@include resp-font(18, 14);
	}
}



/* --------------------------------- */

/* ------ Footer ------ */

.footer {

	background: $dark;

	padding: 100px 0px 0px 0px;

	.footer__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.footer__body {
			display: flex;
			flex-direction: column;

			.footer__column {
				margin: 0px 0px 60px 0px;

				.footer__title {
					display: flex;
					align-items: center;

					font-weight: 700;
					@include resp-font(28, 24);

					margin: 0px 0px 60px 0px;

					.footer__img {
						width: 26px;
						height: 26px;

						margin: 0px 20px 0px 0px;
					}
					.footer__img img {
						width: 100%;
					}
				}

				.footer__contacts {
					@include resp-font(18, 16);

					margin: 0px 0px 40px 0px;
					.footer__address {
						display: flex;
						align-items: center;

						margin: 0px 0px 20px 0px;
					}

					.footer__phone {
						display: flex;
						align-items: center;

						margin: 0px 0px 20px 0px;
					}
					.footer__mail {
						display: flex;
						align-items: center;

						margin: 0px 0px 20px 0px;
					}
				}
				.footer__info {
					display: flex;
					align-items: center;

					@include resp-font(18, 16);

					.footer__info-text {}
				}
			}

			.footer__map {
				min-width: 260px;
			}
			.footer__map iframe {
				width: 100%;
			}
		}

		.footer__column img {
			margin: 0px 20px 0px 0px;
		}

		.footer__copyright {
			padding: 40px 0 20px 0;

			@include resp-font(20, 18);
		}
		.footer__copyright a {
			font-weight: 700;
			color: $brown;

			transition: 0.3s ease 0s;
		}	
		.footer__copyright a:hover {
			color: $light;
		}
	}
}

//Подключение файла с медиа
@import "media.scss";